body, html, #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}


.login {
    background-color: #6345C3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.inputForms {
    width: 30vw;
    height: 50vh;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    align-items: center;
    border-radius: 10px;
}
.email, .password, .submit {
    width: 80%;
    margin: 10px;
    padding: 5px;
}
.submit {
    background-color: #6345C3;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: large;
}
.rememberMe {
    width: 80%;
    padding: 20px;
}
.footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.screenShot {
    margin: 20px 50px;
}
.logoLang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select {
    margin-right: 50px;
    background-color: #6345C3;
    font-family: 'Lato';
    color: #FFFFFF;
}
.imageSearch {
    display: flex;
    padding: 0 30px;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
}
.headerpara {
    width: 80px;
    margin-left: 5px;
}
.searchForm {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 4px;
}

.searchButton, .searchInput {
    border: none;
    
}
.searchButton {
    padding: 4px;
}
.searchInput{
    padding: 5px;
    padding-left: 8px;
    width: 300px;
}
.imageButton {
    padding: 0 20px;
}
.menu {
    display: flex;
    background: linear-gradient(90.78deg, #6345C3 84.46%, #E1D9FB 114.2%);
    color: white;
    gap: 20px;
}
.specialImage {
    background: white;
}
.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.navMargin {
    margin-left: 30px;
}

.pieChart {
    width: 20vw;
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
}
.screeningNumber, .screeningNumber2 {
    display: flex;
    background-color: #364954;
    padding: 10px;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    width: 20vw;
    justify-content: space-between;
    align-items: baseline;
    color: #FFFFFF;
    height: 20vh;
}
.screeningNumberInner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.screeningNumberMargin, .screeningNumberMargin2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    gap: 5px;
}
.screeningNumberMargin2 {
    margin-left: 200px;
}
.screeningNumber2 {
    background-color: #6345C3;
}
.screeningReportSection {
    width: 49vw;
    margin: 10px 10px 10px 30px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}
.screeningReports {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}
.screeningReportSectionInner1 {
    display: flex;
    align-items: center;
}
.screeningReportSectionInner1Margin {
    margin-right: 13vw;
    font-size: large;
    font-weight: bold;
}
.screeningReports {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    border-bottom: 1px solid gray;
}
.tableSectionDashboard {
    width: 50vw;
}
.tableHeadDashboard {
    background-color: #364954;
    border-color: #364954;
}
.dashboardTableHeader {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
    color: #FFFFFF;
    font-weight: normal;
}
table {
    border-spacing: 0;
    margin: 20px;
}
.tableItemsDash {
    padding-left: 20px;
    padding: 7px;
}
.screeningNumber3 {
    background-color: #FFFFFF;
    color: black;
}
.pieChartSection {
    margin: 20px;
}
.searchForm2 {
    width: 350px;
    margin-left: 20px;
}