body, html, #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    
}
.section{
    padding-bottom: 50px;
}
.login {
    background-color: #6345C3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.inputForms {
    width: 30vw;
    height: 50vh;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    align-items: center;
    border-radius: 10px;
}
.email, .password, .submit {
    width: 80%;
    margin: 10px;
    padding: 5px;
}
.click {
    cursor: pointer;
    color: #6345C3;
}
.click:hover{
    text-decoration: underline;
}
.submit {
    background-color: #6345C3;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
.rememberMe {
    width: 80%;
    padding: 20px;
}
.footer {
    background-color: #364954;
    display: flex;
    width: 98.8vw;
    justify-content: space-between;
    padding: 5px 10px;
    color: #FFFFFF;
    position: fixed;
    top: 96vh;
}
.screenShot {
    margin: 20px 50px;
}
.logoLang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select {
    margin-right: 50px;
    background-color: #6345C3;
    font-family: 'Lato';
    color: #FFFFFF;
}
.imageSearch {
    display: flex;
    padding: 0 30px;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
}
.headerpara {
    width: 80px;
    margin-left: 5px;
}
.searchForm {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 4px;
}

.searchButton, .searchInput {
    border: none;
    
}
.searchButton {
    padding: 4px;
}
.searchInput{
    padding: 5px;
    padding-left: 8px;
    width: 300px;
}
.imageButton {
    padding: 0 20px;
    margin-left: auto;
    cursor: pointer;
}
.menu {
    display: flex;
    background: linear-gradient(90.78deg, #6345C3 84.46%, #E1D9FB 114.2%);
    color: white;
    gap: 20px;
}
.specialImage {
    background: white;
}
.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.navMargin {
    margin-left: 30px;
}

.pieChart {
    width: 20vw;
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F8;
}

.screeningNumber, .screeningNumber2 {
    display: flex;
    background-color: #364954;
    padding: 10px;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    width: 20vw;
    justify-content: space-between;
    align-items: baseline;
    color: #FFFFFF;
    height: 15vh;
}
.screeningNumberInner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.screeningNumberMargin, .screeningNumberMargin2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    gap: 5px;
}
.screeningNumberMargin2 {
    margin-left: 200px;
}
.screeningNumber2 {
    background-color: #6345C3;
}
.screeningReportSection {
    width: 49vw;
    margin: 10px 10px 0 30px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}
.screeningReports {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.maxh {
    max-height: 100px;
}
.screeningReportSectionInner1 {
    display: flex;
    align-items: center;
}
.screeningReportSectionInner1Margin {
    margin-right: 13vw;
    font-size: large;
    font-weight: bold;
}
.screeningReports {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    border-bottom: 1px solid gray;
}
.tableSectionDashboard {
    width: 50vw;
}
.tableHeadDashboard {
    background-color: #364954;
    border-color: #364954;
}
.dashboardTableHeader {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
    color: #FFFFFF;
    font-weight: normal;
}
table, .recent {
    border-spacing: 0 10px;
    margin: 10px 10px 0 10px;
}
.tableItemsDash {
    padding-left: 20px;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
}
.screeningNumber3 {
    background-color: #FFFFFF;
    color: black;
    height: 70px;
}
.userOptions {
    display: flex;
}
.statusOption {
    border: none;
    width: fit-content;
    margin: 0 10px;
}

.tableHeading {
    margin-left: 15px;
}
#extraBackground {
    background-color: #F4F4F4;
}
.tableSectionUser {
    width: 97vw;
    margin-left: 15px;
    text-align: center;
}
.exportButton, .exportButtonSave {
    margin: 0 10px 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #6345C3;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.exportButtonSave {
    margin: 0;
}
.bottomDiv {
    display: flex;
    gap: 10px
}
.navOption {
    cursor: pointer;
}
.screeningPage {
    margin-top: 10px;
}
.flexRow {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    padding-left: 100px;
}
#excelTable {
    display: none;
}
.addButton {
    margin-right: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #6345C3;
    border: 2px solid #6345C3;
    border-radius: 5px;
    cursor: pointer;
}
.sortOption {
    border: none;
    width: fit-content;
    margin: 0 10px;
}
.sortOption:focus, .statusOption:focus{
    outline: none;
}
.pieChartSection {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    width: 45vw;
}
.anemiaStatusGreen {
    background-color: #39B44A !important;

}
.doughnutContainer {
    width: 200px;
    height: 200px;
    
}
.anemiaStatusRed {
    background-color: #E34C4C !important;
}
.colorSection {
    display: flex;
    width: 200px;
    gap: 10px;
    margin-top: 20px;
}
.anaemiaColorG, .anaemiaColorO, .anaemiaColorR{
    width: 20px;
    height: 20px;
}
.anaemiaColorG {
    background-color: #39B44A;
}
.anaemiaColorO{
    background-color:#FB8256;
}
.anaemiaColorR {
    background-color: #FF1D1D;
}
.searchForm2 {
    width: 350px;
    margin-left: 20px;
}
.searchInput:focus {
    outline: none;
}
.error {
    color: red;
}
.activeRow {
    color: #55C835;
    background-color: rgba(85, 200, 53, 0.15);
}
.inactiveRow {
    color: #E28406;
    background-color: rgba(250, 163, 47, 0.15);;
}
.formHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}
#userForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
}
.adviseFormInputs{
    width: 60%;
    margin: 10px 0;
    background-color: #F4F5F7;
    border-radius: 5px;
}
.filterOption {
    color: #6345C3;
}
.adviseForm {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-left: 20px;
    margin-bottom: 50px;
}
.userInputs {
    height: 10vh;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    gap: 5px
}
.userFormInputs {
    padding: 5px 5px;
    background-color:  #F4F5F7;
}
.colorRed {
    color: #FF1D1D;
}
.radioInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userFormSection1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
}
.backIcon {
    margin: 0 10px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.submitUser {
    margin-right: 40px;
    cursor: pointer;
}
.addField {
    width: 100px;
    padding: 5px;
    background-color: #6345C3;
    color: #FFFFFF;
}
.filterSection{
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 1160px;
    padding-bottom: 100px;
}
.filterSection, .filterSectionForm {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.filterHeading {
    background-color: #364954;
    width: 300px;
    padding: 5px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterSectionForm {
    width: 300px;
    gap: 10px;
}
.showFilter {
    display: flex;
}
.hideFilter {
    display: none;
}
.screenDetailSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65vh;
    
}
.design {
    margin-right: 20px;
}
.weighted {
    font-weight: bold;
}
.screenDetailSection > p {
    width: 10vw;
    margin: 5px 5px;
}
.tableSectionScreenDetails{
    text-align: center;
    width: 40vw;
}
.referForm {
    display: flex;
    width: 42vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.referInput {
    width: 130px;
    padding: 7px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}